<!DOCTYPE html>
<html>
      <head>

          <meta charset="utf-8">
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
          <meta content="creative agency,personal portfolio" name="description">
          <meta content="Pamukovich" name="author">
          <title>OR Consultora</title>
          <!-- CSS -->
          <link href="/styles/bootstrap.css" rel="stylesheet" media="screen">
          <link href="/styles/font-awesome.css" rel="stylesheet" media="screen">
          <link href="/styles/style.css" rel="stylesheet" media="screen">
          <link href="/styles/aloha/css/aloha.css" type="text/css" rel="stylesheet" />
          <!-- Google Fonts -->
          <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

      </head>

      <!--body ng-controller="BaseCtrl" class="splash-background"-->
      <body ng-controller="BaseCtrl" >

          <!--div id="loader" class="splash" >
              <div class="message"> OR-Consultora </div>
              <span class="hide-xs">
                <i class="fa fa-spinner fa-spin spinner"></i>
              </span>
          </div-->

          <div class="container-fluid" id="main">
              <div class="row-fluid">
                  <ng-view></ng-view>
              </div>
          </div>

      </body>

      <script>
          var Aloha = window.Aloha || (window.Aloha = {ready: function(){return false;}});
          Aloha.settings = {
              bundles: {
                  custom: '/js/aloha'
              },
              locale: 'en',
              plugins: {
                  load: "custom/ui,custom/format,custom/table,custom/list,custom/link,custom/highlighteditables,custom/block,custom/image,custom/undo,custom/contenthandler,custom/paste,custom/commands,custom/abbr",
                  format: {
                      config: ['b', 'i', 'u', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre'],
                      editables: {
                          heading1: ['b', 'i', 'u', 'del', 'sub', 'sup'],
                          heading2: ['b', 'i', 'u', 'del', 'sub', 'sup'],
                          heading3: ['b', 'i', 'u', 'del', 'sub', 'sup']
                      }
                  }
              },
              sidebar: {
                  disabled: true
              }
         };

      </script>

      <script data-main="app/main" src="/js/require/require.min.js"></script>

      <!-- Bring in the socket.io client -->
      <!--script type="text/javascript" src="/js/sails/socket.io.js"></script>
      <script type="text/javascript" src="/js/sails/sails.io.js"></script>
      <script type="text/javascript" src="/js/sails/app.js"></script-->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


</html>
