body {
    background-color: #ffffff;
    color: #a3a9ad;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.428571429;
}

.splash-background{
    color: #F8F9FA; background-image:url('/images/splash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #48505e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.space { padding: 90px 0 }


/* HELPERS
   ================================================== */
.p-top-10 { padding-top: 10px }
.p-top-20 { padding-top: 20px }
.p-top-30 { padding-top: 30px }
.p-top-40 { padding-top: 40px }
.p-top-50 { padding-top: 50px }
.p-btm-0 { padding-bottom: 0 }
.f-800 { font-weight: 800 }
.f-green { color: #95ce53 }
.f-white { color: #fff }
.title-12 {
    color: #929699;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
hr {
    border: 0;
    border-top: 1px solid #fff;
    margin-bottom: 35px;
    margin-top: 35px;
    width: 95%;
}

/* BUTTONS
   ================================================== */
.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
}
.btn-green {
    background-color: #95ce53;
    color: #FFFFFF;
}
.btn-green:hover {
    background-color: #78b432;
    color: #fff;
}

/* SLIDER
   ================================================== */
img.keep-original {
    height: auto;
    max-width: 100% !important;
}
#slides { max-height: 780px } /* Remove this if to fit the all screen sizes */
.slides-navigation { top: 50% }
.slides-navigation a {
    border: 1px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 25px;
    moz-border-radius: 30px;
    moz-transition: background 0.15s ease;
    ms-border-radius: 30px;
    o-border-radius: 30px;
    o-transition: background 0.15s ease;
    text-align: center;
    text-decoration: none;
    top: -40px;
    -webkit-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    transition: background 0.15s ease;
    webkit-border-radius: 30px;
    webkit-transition: background 0.15s ease;
    width: 30px;
}
.slides-navigation a:hover { background: rgba(0, 0, 0, 0.4) }
@media screen and (max-width: 767px) { 
    .slides-navigation { display: none }
   
}
.slides-pagination a {
    border-color: white;
    -webkit-box-shadow: 0 1px 1px black;
    -moz-box-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
    height: 15px;
    margin: 5px 2px;
    moz-box-shadow: 0 1px 1px black;
    webkit-box-shadow: 0 1px 1px black;
    width: 15px;
}
.slides-pagination a.current { background: white }
.slide-caption {
    left: 90px;
    max-width: 500px;
    padding: 10px 20px;
    position: relative;
    top: 25%;
    width: 50%;
    z-index: 3;
}
.slide-caption h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 70px;
}
.slide-caption p {
    color: #fff;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0 2px 1px rgba(0,0,0,.4);
}
.slide-caption h6 { color: #fff }
.slide-caption-2 {
    color: #FFFFFF;
    margin: 22% auto;
    position: relative;
    text-align: center;
    z-index: 3;
}
.slide-caption-2 h1 {
    color: #89878D;
    font-size: 100px;
    margin-top: 22px;
    position: relative;
    z-index: 3;
}
.slide-caption-2 h1:before {
    color: #fff;
    content: "KENDO THEME";
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    z-index: 2;
}
.slide-caption-2 h2 {
    color: #fff;
    font-size: 65px;
    letter-spacing: 10px;
    margin-left: -5px;
    margin-top: 15px;
}
.slide-caption-2 h5 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
.slide-caption-2 h5:before {
    border: 1px solid #fff;
    content: "";
    margin-left: -83px;
    margin-top: 8px;
    position: absolute;
    width: 70px;
}
.slide-caption-2 h5:after {
    border: 1px solid #fff;
    content: "";
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    width: 70px;
}
.slide-caption-2 h6 {
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 15px;
}
.slide-caption-2 h6:before {
    border: 1px solid #fff;
    content: "";
    margin-left: -107px;
    margin-top: 8px;
    position: absolute;
    width: 95px;
}
.slide-caption-2 h6:after {
    border: 1px solid #fff;
    content: "";
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    width: 95px;
}
@media screen and (max-width: 767px) { 
   #slides { max-height:500px }
   .slide-caption {
         left: 0;
         width: 90%;
         padding: 10px 20px;
         position: relative;
         top: 5%;
         z-index: 3;
    }
   .slide-caption-2 h2 {
         color: #fff;
         font-size: 25px;
    }
}
/* OVERLAY USED FOR SLIDER / TWAEK YOUR COLORS 
   ================================================== */
.overlay-1
{
	background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.8) 100%);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(30%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 30%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=1 );
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* NAVIGATION
   ================================================== */
.navbar {
    border: none;
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #EEEEEE;
    padding: 18px 0;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 6px;
}
.navbar-default .navbar-brand {
    color: #191627;
    font-size: 20px;
    font-weight: 900;
    margin-right: 35px;
}
.navbar-default .navbar-nav > li > a {
    color: #acb2b6;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: #070707;
}
#nav {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(53, 53, 63, 0.06);
    -moz-box-shadow: 0 2px 5px rgba(53, 53, 63, 0.06);
    box-shadow: 0 2px 5px rgba(53, 53, 63, 0.06);
    height: 86px;
    width: 100%;
    z-index: 2;
}


/* SERVICE BOX 3 MAIN
   ================================================== */
.service-box figure {
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
.service-box img {width: 340px;
    height: 201px; }

/* FEATURES / FULL SERVICE LIST SECTION
   ================================================== */
#features {
    background: #f8f8f8;
    -webkit-background-size: cover; -moz-background-size:cover;
    -o-background-size: cover; background-size:cover;
}
.et-wrapper {
    margin-bottom: 10px;
    min-height: 220px;
}
.features-box {
    background-color: #FFF;
    min-height: 220px;
    padding: 35px 20px;
    text-align: center;
}
.features-box h3 {
    /*color: #fff; */
    font-size: 18px;
   /* text-transform: uppercase; */
}
.features-box i {
    font-size: 45px;
    font-weight: 300;
}

/* ABOUT US SECTION
   ================================================== */
ul.stats-info li {
    border-right: 1px solid #eee;
    margin: 35px auto;
    padding-left: 35px;
    padding-right: 35px;
}
ul.stats-info li:last-child { border-right: none }
ul.stats-info li h2 { font-weight: 700 }
.team-image .tagged {
    margin: 0 auto;
    max-height: 320px;
    position: relative;
}
.team-image .spot {
    -webkit-animation-iteration-count: 30;
    -moz-animation-iteration-count: 30;
    -ms-animation-iteration-count: 30;
    -o-animation-iteration-count: 30;
    animation-iteration-count: 30;
    height: 25px;
    position: absolute;
    webkit-animation: pulsate 1s ease-out;
    webkit-animation-iteration-count: 50; 
    width: 25px;
}
.team-image .spot i {
    color: #95ce53;
    font-size: 25px;
}
.team-image .spot-1 {
    left: 24%;
    top: 36%;
}
.team-image .spot-2 {
    left: 40%;
    top: 24%;
}
.team-image .spot-3 {
    left: 47%;
    top: 0;
}
.team-image .spot-4 {
    left: 75%;
    top: 44%;
}

/* TEAM MODAL 
   ================================================== */
.modal-content {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box; background-clip:padding-box;
    background-color: #FFFFFF;
    border: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    position: relative;
    webkit-box-shadow: none;
}
.modal-body {
    padding: 0;
    position: relative;
}
.content-box {
    background: white;
    margin-bottom: 20px;
    padding: 0;
}
.content-box-image {
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.17);
    -moz-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.17);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.17);
    height: 75px;
    width: 100%;
}
.maurice-image {
    background: #11111D;
    -webkit-background-size: cover; -moz-background-size:cover;
    -o-background-size:cover; background-size:cover;
    border-bottom: 15px solid #C6C6C6;
    height: 90px;
    moz-background-size: cover;
    o-background-size: cover;
    webkit-background-size: cover;
}
.team {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 130px;
    margin: -70px auto 25px;
    padding: 0;
    width: 130px;
}
.team .member {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 100%;
    margin: 0 auto;
    max-height: 150px;
    max-width: 150px;
    width: 100%;
}
.content-box h3 {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 22px 18px 18px;
    padding-bottom: 0;
    text-transform: uppercase;
    word-spacing: 2px;
}
.content-box h3 a {
    color: rgba(0, 0, 0, 0.85);
    moz-transition: opacity .7s ease-in-out;
    opacity: 1;
    o-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
    webkit-transition: opacity .7s ease-in-out;
}
.content-box p { padding: 0 20px }



/* PEOJCT ITEM HOLDER
   ================================================== */
.item {
    margin-bottom: 30px;
    position: relative;
}
.item a {
    color: #acb2b6;
    cursor: crosshair;
}
.item .arrow_box {
    background: #ffffff;
    border: 1px solid #eee;
    padding: 15px;
    position: relative;
}
.item .arrow_box:after,
.arrow_box:before {
    border: solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.item .arrow_box:after {
    border-bottom-color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
}
.item .arrow_box:before {
    border-bottom-color: #eee;
    border-color: rgba(238, 238, 238, 0);
    border-width: 17px;
    left: 50%;
    margin-left: -17px;
}
p.meta,
p.meta a {
    color: #C2C2C9;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 2px 0 10px;
    text-transform: uppercase;
}
.p-tags {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.greyscale {
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.greyscale:hover {
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

/* PROJECT FILTER NAV
   ================================================== */
#filters {
    list-style: none;
    margin: 35px 0 25px;
    padding: 10px 0;
}
#filters li {
    display: inline;
    line-height: 200%;
}
#filters li a {
    color: #acb2b6;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 7px 25px;
    text-transform: uppercase;
}
#filters li a.selected,
#filters li a:hover {
    background-color: #95ce53;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 7px 25px;
    text-decoration: none;
}

/* ISOTOPE STYLE
   ================================================== */
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    moz-transition-duration: 0.8s;
    ms-transition-duration: 0.8s;
    o-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    webkit-transition-duration: 0.8s;
}
.isotope {
    moz-transition-property: height, width;
    ms-transition-property: height, width;
    o-transition-property: height, width;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
    webkit-transition-property: height, width;
    z-index: 1;
}
.isotope .isotope-item {
    moz-transition-property: -moz-transform, opacity;
    ms-transition-property: -ms-transform, opacity;
    o-transition-property: -o-transform, opacity;
    -webkit-transition-property: transform, opacity;
    -moz-transition-property: transform, opacity;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    webkit-transition-property: -webkit-transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    moz-transition-duration: 0s;
    ms-transition-duration: 0s;
    o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    webkit-transition-duration: 0s;
}


/* CLIENTS LOGOS SECTION
   ================================================== */
#clients {
    background: url("../images/clients.png") center center fixed;
    -webkit-background-size: cover; -moz-background-size:cover;
    -o-background-size: cover; background-size:cover;
}
#clients ul li img {
    height: auto;
    margin: 0 auto;
    width: 150px;
}


/* SUBHEADER USED FOR INTERNAL PAGES
   ================================================== */
.subheader {
    background: url("../images/clients.png");
    -webkit-background-size: cover; -moz-background-size:cover;
    -o-background-size: cover; background-size:cover;
    display: block;
    height: 150px;
    margin-bottom: 65px;
    ms-overflow-y: hidden;
    overflow-y: hidden;
    position: relative;
}
.breadcrumb {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    list-style: none;
    margin-top: 55px;
    padding: 0;
}
.breadcrumb li a { color: #fff }
.breadcrumb li.active {
    color: #fff;
    font-weight: 600;
}


/* CTA
   ================================================== */
.cta {
    background-color: #f8f8f8;
    padding: 25px 0;
}
#quote {
    background: url("../images/clients.png") center center fixed;
    -webkit-background-size: cover; -moz-background-size:cover;
    -o-background-size: cover; background-size:cover;
    padding: 35px;
}
#quote i { font-size: 25px }




/* BLOG
   ================================================== */
.post-media,
.post-title,
.post-meta { display: block }
.post-title h2.title,
.post-title h2.title a {
    color: #48505e;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.post-title h2.title a:hover { color: #48505e }
.post-title blockquote {
    color: #aaa;
    margin: 0;
    padding: 0;
    width: 100%;
}
.post-title blockquote:before { content: "" }
.post-title blockquote p {
    font: 300 26px/32px 'Open Sans',Helvetica,Arial,sans-serif;
    font-style: normal;
    padding-left: 0;
}
.post-meta {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 14px 0 20px 0;
    padding: 0;
    text-transform: uppercase;
}
.post-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-meta li {
    display: inline;
    margin-right: 5px;
}
.post-meta li:last-child { margin-right: 0 }
.post-meta li:after { content: "\2022" }
.post-meta li:last-child:after { content: "" }
.post-meta span { padding-right: 8px }
.post-meta a {
    color: #aaa;
    display: inline-block;
}
.post-meta a:hover { color: #676767 }
.post-entry .button { margin-top: 14px }
.format-video iframe,
.format-video object,
.format-video embed { }
.post-media {
    margin-bottom: 20px;
    position: relative;
}
.post-media img {
    display: block;
    width: 100%;
}
.responsive-video-div > div { position: relative }
.responsive-video-div iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.responsive-video-vimeo { max-width: 1130px }
.responsive-video-vimeo > div { padding-top: 56.26506% }
.responsive-video-youtube { max-width: 1130px }
.responsive-video-youtube > div { padding-top: 56.271981% }
.post-date {
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.post-date ul {
    margin: 0;
    padding: 0;
}
.post-date li {
    display: inline;
    margin-right: 5px;
}
.post-date li:last-child { margin-right: 0 }
.post-date span.day:after { content: "," }
.post-date li:after {
    content: "/";
    margin-left: 8px;
}
.post-date li:last-child:after {
    content: "";
    margin-left: 0;
}

/* BLOG PAGE
   ================================================== */

.comment-form { margin: 50px 0 }

.widget { margin-bottom: 30px }
.blog-container {
    padding-bottom: 80px;
    padding-top: 55px;
}
h4.heading { padding: 23px 0 }
ul.menu-link { margin-bottom: 9px }
ul.menu-link > li { border-top: 1px solid #eee }
ul.menu-link > li:first-child { border: none }
ul.menu-link > li a {
    color: #34495e;
    display: block;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0;
}
ul.menu-link > li a:hover {
    color: #000;
    text-decoration: none;
}
.tagcloud a {
    background-color: #f1f1f1;
    color: #34495e;
    display: inline-block;
    font-size: 15px !important;
    line-height: 26px;
    margin: 0 5px 8px;
    moz-transition: .3s;
    ms-transition: .3s;
    o-transition: .3s;
    padding: 0 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    vertical-align: top;
    webkit-transition: .3s;
}
.tagcloud a:hover {
    background-color: #404757;
    color: #fff;
    text-decoration: none;
}

/* ACCORDION
   ================================================== */
.accordion { padding: 0 }
.accordion .panel {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0 0 10px 0;
    webkit-box-shadow: none;
}
.accordion .panel-collapse {
    border-bottom: 1px solid #eee;
    border-top: transparent;
    line-height: 18px;
}
.accordion .panel-collapse .text { padding: 15px 20px }
.accordion h4 {
    margin: 0;
    padding: 0;
}
.accordion h4 a.collapsed,
.accordion h4 a {
    background: #F4F3F6;
    color: #434955;
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 0 0 70px;
    position: relative;
    text-transform: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    webkit-transition: all 0.5s;
}
.accordion h4 a.collapsed span:before { content: "+" }
.accordion h4 a span:before { content: "-" }
.accordion h4 a span {
    background: #95ce53;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    left: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.accordion h4 a,
.accordion h4 a:hover { text-decoration: none }
.accordion h4 a:focus { text-decoration: none }


/* CONTACT
   ================================================== */
#contact {
  /*  margin-top: 50px;
    margin-bottom: 50px;*/
    background-image: url("../images/clients.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320%;
}
#map {
    height: 400px;
    width: 100%;
}

input[type=text],
.form-inline input,
.form-control,
textarea {
    border: #eee solid 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 3px 0;
    padding: 10px;
    webkit-box-shadow: none;
}

#cta-contact { }


/* FOOTER
   ================================================== */
#footer {
    background: #110A20;
    color: #acb2b6;
    padding-bottom: 70px;
}
#footer span {
    color: #fff;
    font-size: 25px;
}
#footer .btm-footer { /* margin-top: 55px */}
#footer .btm-footer ul li a { color: #fff }


/* SOCIAL ICONS
   ================================================== */
ul.socials { float: none }
.socials a.pinterest:hover { background: #f13434 }
.socials a.facebook:hover { background: #3b5999 }
.socials a.twitter:hover { background: #00bbf5 }
.socials a.gplus:hover { background: #cd1a1a }
.socials a.rss:hover { background: #f6a42b }
.socials a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-left: 10px;
    moz-transition: .4s;
    o-transition: .4s;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    webkit-transition: .4s;
    width: 30px;
}
.socials a:hover {
    -webkit-animation: all .3s ease-in-out;
    -moz-animation: all .3s ease-in-out;
    -ms-animation: all .3s ease-in-out;
    -o-animation: all .3s ease-in-out;
    animation: all .3s ease-in-out;
    color: #fff;
    moz-animation: all .3s ease-in-out;
    ms-animation: all .3s ease-in-out;
    o-animation: all .3s ease-in-out;
    webkit-animation: all .3s ease-in-out;
}
.socials a i {
    font-size: 18px;
    line-height: 27px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-top: -20px;
    padding-top: -80px;
   /* margin-bottom: 60px; */
    margin-left: -20px;
    margin-right: -20px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}
/*
.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}
*/

.carousel .item {
    min-height: 700px;
    min-width: 100%;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 700px;
}

.carousel-caption {
    margin-top: 400px;
    margin-left: -15%;
  /*  left: 90px; */
    max-width: 500px;
    padding: 10px 20px;
    position: relative;
    top: 25%;
    width: 50%;
    z-index: 3;
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
    margin-top: 10px;
}


#separator1{
    background-image: url("../images/separators/grayscale1.jpe");
}

#separator2{
    background-image: url("../images/separators/grayscale3.jpe");
}


/* CLIENTS LOGOS SECTION
   ================================================== */
.separator {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-opacity: 40%;
}

.separator-lead{
    color: white; text-shadow: 1px 1px grey;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .spinner {
    font-size: 12em;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;

}


@media(max-width:767px){

    /* Carousel base class */
    .carousel {
        height: 0px;
    }

    .carousel-caption {
       height: 0px;
    }

    .splash-background{
        color: rgba(4, 4, 4, 0.85);
        background-image: url('');
    }

    .splash .message {
        font-size: 3em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px;
    }

    .splash .spinner {
        font-size: 5em;
    }
}