
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-hidden="true">&times;</button>
    <h3>Login</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" action="">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="form-group">
            <!-- Username -->
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input type="text" ng-model="userName" id="username" name="username" placeholder="user name" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password </label>
            <div class="col-md-4">
                <input type="password" ng-model="password" id="password" name="password" placeholder="password" class="form-control input-md">

            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="close()">Close</button>
    <button class="btn btn-primary" ng-click="login()">Login</button>
</div>
