<div  id='nav_bar' class="" >
    <div id="nav">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">OR Consultora</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="top-nav">
                        <li ng-class="{active: target=='vision'}" ><a smooth-scroll target="vision" href="">Home</a></li>
                        <li ng-class="{active: target=='features'}"><a smooth-scroll target="features" href="" >Nuestros Servicios</a></li>
                        <li ng-class="{active: target=='about'}"><a  smooth-scroll target="about" href="">Quienes Somos</a></li>
                        <li ng-class="{active: target=='contact'}"><a smooth-scroll target="contact" href="">Trabaje con Nosotros</a></li>

                    </ul>

                    <ul class="pull-right">
                        <div class="btn-toolbar">
                            <div class="btn-group" style="margin-top: 4px">
                                <button ng-show="isAuthenticated && !editButtonDisabled" type="button" class="btn-inverse"  ng-click="edit()">Edit</button>
                            </div>
                        </div>
                    </ul>

                    <!--a href="contact.php" class="btn btn-green navbar-btn pull-right external">Contactanos!</a-->
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- .nav-wrapper -->
</div>