<!-- start:Home -->
<section id="home" class="carousel slide" >
    <div class="carousel-inner">
        <div carousel interval="5000">
            <div slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" class="img-responsive" style="margin: auto;">
                <div class="overlay-1" style="margin-top: 30px;"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p class="lead">{{slide.text}}</p>
                        <a class="btn btn-large btn-primary" href="#">Sign up today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end:Home -->

<!-- start:Navigator -->
<ng-include class="navbar-wrapper" src='"app/main/views/partials/navigator.html"' ng-controller="navigatorController"></ng-include>
<!-- end:Navigator -->

<!-- start:Vision -->
<section id="vision" class="service space">
    <div id="" class="container">
        <div class="row">
            <aloha compile="visionTitle.content" id="{{visionTitle.id}}" type="{{visionTitle.type}}" class="span4 content"></aloha>
        </div>
        <!-- .row -->
        <div class="row p-top-50">
            <div class="col-md-4">
                <div class='service-box'>
                    <figure> <img src='http://www.lgs-trading.com/public/images/mision.jpg' alt=''> </figure>
                    <aloha compile="vision1.content" id="{{vision1.id}}" type="{{vision1.type}}" class="span4 content"></aloha>
                </div>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class='service-box'>
                    <figure> <img src='http://www.elespartano.com.ar/wp-content/uploads/2011/09/mision-y-vision1.jpg' alt=''> </figure>
                    <aloha compile="vision2.content" id="{{vision2.id}}" type="{{vision2.type}}" class="span4 content"></aloha>

                </div>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class='service-box'>
                    <figure> <img src='http://www.diarioresponsable.com/images/stories/gestion_por_valores.jpg' alt=''> </figure>
                    <aloha compile="vision3.content" id="{{vision3.id}}" type="{{vision3.type}}" class="span4 content"></aloha>
                </div>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- end:Container -->
</section>

<div id="separator1" class="space separator">
    <div class="container">
        <div class="row">
            <aloha compile="separator1.content" id="{{separator1.id}}" type="{{separator1.type}}" class="span4 content"></aloha>
        </div>
    </div>
</div>
<!-- end:Vision -->

<!-- start:Services -->
<section class="space" id="features">
    <div class="container">
        <div class="row">
            <aloha compile="serviceTitle.content" id="{{serviceTitle.id}}" type="{{serviceTitle.type}}" class="span4 content"></aloha>
        </div>
        <!-- .row -->
        <div class="row  p-top-50">
            <div class="col-md-4 col-sm-4">
                <article><div class='features-box'><i class='fa fa-cog'></i>
                    <div style="text-align:left">
                        <aloha compile="service1.content" id="{{service1.id}}" type="{{service1.type}}" class="span4 content"></aloha>
                    </div> </div></article>
            </div>

            <div class="col-md-4 col-sm-4">
                <article><div class='features-box'><i class='fa fa-group'></i>
                    <div style="text-align:left">
                        <aloha compile="service2.content" id="{{service2.id}}" type="{{service2.type}}" class="span4 content"></aloha>
                    </div> </div></article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article><div class='features-box'><i class='fa fa-dashboard'></i>
                    <div style="text-align:left">
                        <aloha compile="service3.content" id="{{service3.id}}" type="{{service3.type}}" class="span4 content"></aloha>
                    </div>  </div></article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->

    </div>
    <!-- .row -->
    </div>
    <!-- .end:Container -->
</section>

<div id="separator2" class="space separator">
    <div class="container">
        <div class="row">
            <aloha compile="separator2.content" id="{{separator2.id}}" type="{{separator2.type}}" class="span4 content"></aloha>
        </div>
    </div>
</div>
<!-- end:Services -->

<!-- start:About -->
<section id="about" class="space p-btm-0">
    <div class="container">
        <div class="row">
            <aloha compile="aboutTitle.content" id="{{aboutTitle.id}}" type="{{aboutTitle.type}}" class="span4 content"></aloha>
        </div>

        <!-- /.row -->
        <div class="row" style="text-align: center;margin-bottom: 50px;margin-top: 50px;">
            <div class='col-lg-6'>
                <img class='img-circle' style='width: 140px; height: 140px;' src='/images/marketing1.jpe'>
                <div style="text-align:left">
                    <aloha compile="about1.content" id="{{about1.id}}" type="{{about1.type}}" class="span4 content"></aloha>
                </div>
            </div>
            <div class='col-lg-6'>
                <img class='img-circle' style='width: 140px; height: 140px;' src='http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/28a/3de/35fd107.jpg'>
                <div style="text-align:left">
                    <aloha compile="about2.content" id="{{about2.id}}" type="{{about2.type}}" class="span4 content"></aloha>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- end:About -->

<!-- start:Contact -->
<section id="contact"  class="space separator p-btm-0">
    <div class="container">
        <div class="row">
            <aloha compile="footer.content" id="{{footer.id}}" type="{{footer.type}}" class="span4 content"></aloha>

        </div>
    </div>
    <div class="container">
        <div class=" col-md-12 text-center">

            <p class="p-top-10">     </p>
            <ul class="socials list-inline list-unstyled p-top-10">
                <li><a class="about-social-icon gplus" href="#"><i class="fa fa-google-plus" style=""></i> </a> </li>
                <li> <a class="about-social-icon twitter" href="#"><i class="fa fa-twitter" style=""></i></a> </li>
                <li> <a class="about-social-icon facebook" href="#"> <i class="fa fa-facebook" style=""></i></a> </li>
            </ul>
        </div>
    </div>
    <div class="container" >
        <p smooth-scroll="" target="main" class="pull-right"><a smooth-scroll target="home" href="" >Back to top</a></p>
        <p>© 2013 ORConsultora, Inc. ·  <a ng-show="!isAuthenticated"  href="" ng-click="showLogin()">login</a> <a ng-show="isAuthenticated"  href=""  ng-click="isAuthenticated=!isAuthenticated">logout</a></p>
    </div>
</section>